.avatar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Optional: align the image vertically in the center */
  margin-top: 5vh
}

.app-container-tan {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  align-items: flex-start; /* Align to the left */
  background: rgb(219, 202, 173); /* Updated tan color */
  background: linear-gradient(220deg, rgba(219, 202, 173, 1) 44%, rgba(240, 253, 255, 1) 100%);
  min-height: 100vh;
  min-width: 100vw;
}


.center-text {
  text-align: left; /* Updated alignment to left */
  color: #fff;
}

.col-span-1 {
  width: 50vw;
}


.col-span-2 {
  height: 100vh;
}

.content-container {
  display: flex;
}


body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.burger-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.companyName1 {
  color: #1877F2;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.companyName2 {
  color: #2DCE89
}

.fade-in-button {
  transition: background-color 1.5s ease; 
  margin-top: 1vh;
  margin-right: 5vw;
}

.invisible-background {
  background-color: transparent;
}


.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  
}

.bene_double img {
  transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out; /* Smooth transitions for the shadow and slower elevation effect */
}

.bene_double img:hover {
  filter: drop-shadow(0 12px 14px rgba(24, 119, 242, 0.8)); /* Updated to the desired shadow color */
  transform: translateY(-25px); /* Adjust the elevation (negative value moves the image higher) */
}

.ez_double img {
  transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out; /* Smooth transitions for the shadow and slower elevation effect */
}

.ez_double img:hover {
  filter: drop-shadow(0 12px 14px rgba(100, 200, 169, 0.8)); /* Updated to the desired shadow color */
  transform: translateY(-25px); /* Adjust the elevation (negative value moves the image higher) */
}

.shelf_double img {
  transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out; /* Smooth transitions for the shadow and slower elevation effect */
}

.shelf_double img:hover {
  filter: drop-shadow(0 12px 14px rgba(225, 102, 0, 0.8)); /* Updated to the desired shadow color */
  transform: translateY(-25px); /* Adjust the elevation (negative value moves the image higher) */
}


.caprasimo {
  font-family: 'Caprasimo', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}



.app-description {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 1vh;
  font-size: 2.75vh
}

.app-roles {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #555;
  margin-top: 1vh;
  font-size: 1.75vh
}

@media screen and (min-width: 769px) {
  .profile-names {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    gap: 10px; /* Adjust the gap between images */
    align-items: flex-start; /* Align images to the left */
    margin-bottom: 0; /* Updated margin */
  }
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 15px; /* Adjust the gap between sections */
  /* height: 80vh; */
  margin-top: 15vh;
  margin-left: 5vh
}

.profile-info {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}



.rock-salt-regular {
  font-family: "Rock Salt", sans-serif; 
  font-weight: 400;
  font-style: normal;
}


.profile-description {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #555;
  margin-top: 1vh;
}

.primary-color {
  color: rgba(40, 165, 134, 1);
}

.second-view {
  background-color: #FBFCF8;
  min-height: 225vh;
  min-width: 100vw;
}

@media screen and (min-width: 1200px) {
  .profile-container {
    margin-left: 5vw; /* Added margin-left for larger screens */
  }

  .profile-names {
    grid-template-columns: 1fr; /* Single column layout for larger screens */
    gap: 0; /* Remove the gap between images */
    margin-bottom: 0;
  }

  .profile-description {
    width: 75%;
    margin-top: 2vh;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}
