.app-container-blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(128, 208, 199);
  background: -moz-linear-gradient(
    58deg,
    rgba(128, 208, 199, 1) 27%,
    rgba(0, 147, 233, 1) 81%
  );
  background: -webkit-linear-gradient(
    58deg,
    rgba(128, 208, 199, 1) 27%,
    rgba(0, 147, 233, 1) 81%
  );
  background: linear-gradient(
    58deg,
    rgba(128, 208, 199, 1) 27%,
    rgba(0, 147, 233, 1) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#80d0c7",
    endColorstr="#0093e9",
    GradientType=1
  );
  min-height: 100vh;
  min-width: 100vw;
}

.app-container-green {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(40,165,134);
  background: linear-gradient(220deg, rgba(40,165,134,1) 44%, rgba(240,253,255,1) 100%);

  min-height: 100vh;
  min-width: 100vw;
}

.app-container-tan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(243,238,231);
  background: linear-gradient(220deg, rgba(243,238,231,1) 44%, rgba(240,253,255,1) 100%);

  min-height: 100vh;
  min-width: 100vw;
}

.center-text {
  text-align: center;
  color: #fff;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.burger-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.invisible-background {
  background-color: transparent;
}


.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}


@media screen and (max-width: 768px) {
  .profile-info {
    flex-direction: column;
    align-items: center;
  }

  .profile-info img {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 10px; /* Add some margin between the images */
  }

  .profile-info img:nth-child(2) {
    margin-left: 0; /* Reset margin for the second image */
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info img {
  max-width: 100%;
  margin-left: 0;
}

.profile-name {
  text-align: left;
  margin-bottom: 0;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-size: 6vw;
}

.profile-description {
  text-align: left;
  font-style: italic;
  color: #555;
  width: 75%;
  margin: 0 auto;
}


.second-view {
  background-color: #fff;
  min-height: 100vh;
  min-width: 100vw;
  color: #000; 
}
